/* ResultComponent BEGIN */
.result-container {
    padding: 12px;
    border: solid 1px #E5E5E5;
}
/* YoutubeComponent BEGIN */


/* facebook: rgb(61, 90, 152);
twitter: rgb(38, 169, 224);
instagram: rgb(58, 58, 58);
youtube: rgb(212, 39, 40);
*/