/* SearchComponent BEGIN */
.search-container {
    width: 100%;
    margin-bottom: 24px;
}
.search-label {
    width: 100%;
    float: left;
    color: #0096B5;
    font-size: 16px;
}
.search-input {
    width: 80%;
}
.search-container input[type="text"] {
    padding: 10px 10px 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: solid 2px #0096B5;
    transition: border 0.4s;
}
.search-container input[type="text"]:focus,
.search-container input[type="text"].focus {
    border-bottom: solid 2px #0088AE;
    outline-style:none;
    box-shadow:none;
}
.submit-search {
    color: #FFF;
    background-color: #0088AE;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    border: none;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}