<div class="youtube-container">
    <div *ngIf="result.type === 'post'" class="youtube-post-container">
        <div class="result-metadata-container">
            <div class="result-avatar-container">
                <img class="result-avatar-image" src="https://yt3.ggpht.com/-prpWOGJDeO8/AAAAAAAAAAI/AAAAAAAAAAA/4UvnH_axbP4/s100-c-k-no-mo-rj-c0xffffff/photo.jpg"/>
            </div>
            <div class="result-user-information">
                <div class="result-username">Natalie Tran</div>
                <div class="result-post-date">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    Published on May 27, 2017
                </div>
            </div>
        </div>
        <div class="result-post-content">
            <div class="result-post-description">
                Loving the new smart toaster from hooli.  It's literally changed my life.  I can't even right now.  Get yours now: Loving the new smart toaster from hooli.  It's literally changed my life.  I can't even right now.  Get yours now: Loving the new smart toaster from hooli.  It's literally changed my life.  I can't even right now.  Get yours now: Loving the new smart toaster from hooli.  It's literally changed my life.  I can't even right now.  Get yours now: Loving the new smart toaster from hooli.  It's literally changed my life.  I can't even right now.  Get yours now: Loving the new smart toaster from hooli.  It's literally changed my life.  I can't even right now.  Get yours now: 
            </div>
            <div class="result-post-embed">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Rolqism8_Dk" frameborder="0" allowfullscreen></iframe>
            </div>
            <ul class="result-post-statistics">
                <li class="result-post-statistic result-post-views"><i class="fa fa-eye" aria-hidden="true"></i>100K</li>
                <li class="result-post-statistic result-post-likes"><i class="fa fa-thumbs-up" aria-hidden="true"></i>100K</li>
                <li class="result-post-statistic result-post-comments"><i class="fa fa-comments" aria-hidden="true"></i>100K</li>
                <li class="result-post-statistic result-post-shares"><i class="fa fa-share" aria-hidden="true"></i>100K</li>
            </ul>
        </div>
    </div>
    <div *ngIf="result.type === 'channel'" class="youtube-channel-container">
    </div>
</div>